extends layout/index
block head
  link(rel='stylesheet', href='//www.layuicdn.com/layui-v2.6.8/css/layui.css')
  link(rel="stylesheet", href="/stylesheets/login.css")
block content
  .pannel_header
    ul.breadcrumb.clearfix
      li
        a(href="/") 主页
        <span class="divider">/</span>
      li.active
        a(href="javascript::") 登录
  .inner.padding10
    form.layui-form(lay-filter="form")
      .layui-tab(lay-filter="tab")
        ul.layui-tab-title
          li 普通登录
          li.layui-this Token登录
        .layui-tab-content
          .layui-tab-item
            div.layui-form-item
              label.layui-form-label 用户名
              div.layui-input-block
                input.layui-input(type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入用户名")
            div.layui-form-item
              label.layui-form-label 密码
              div.layui-input-block
                input.layui-input(type="password" name="password" lay-verify="password" autocomplete="off" placeholder="请输入密码")
            div.layui-form-item
              label.layui-form-label
              div.layui-input-block
                button(type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="submit_form") 登录
                button(type="button" class="layui-btn") 通过 GitHub 登录
                button(type="button" class="layui-btn layui-btn-primary") 忘记密码了?
          .layui-tab-item.layui-show
            div.layui-form-item
              label.layui-form-label AccessToken
              div.layui-input-inline
                input.layui-input(type="text" name="token" lay-verify="token" autocomplete="off" placeholder="请输入AccessToken")
              .layui-form-mid.layui-word-aux
                a.blue(href="https://cnodejs.org/signin" target="_blank") 登录
                span , 然后
                a.blue(href="https://cnodejs.org/setting" target="_blank") 设置
                span , 拿token填入这里
            div.layui-form-item
              label.layui-form-label
              div.layui-input-block
                button(type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="submit_form") 登录
block footer_script
  script(src='//www.layuicdn.com/layui-v2.6.8/layui.js')
  script.
    var currentTab = 1
    //- script.后，写你客户端代码
    layui.use(['form'], function(){
      console.log(currentTab)
      var form = layui.form, layer = layui.layer
      //自定义验证规则
      form.verify({
        name: function(value, item){
          var show = item.parentNode.parentNode.parentNode.classList.contains('layui-show')
          if(show && !/\S/.test(value)){
            return '请输入用户名';
          }
        }
        ,password: function(value, item){
          var show = item.parentNode.parentNode.parentNode.classList.contains('layui-show')
          if(show && !/\S/.test(value)){
            return '请输入密码';
          }
        },
        //- ,password: [
        //-   /^[\S]{6,12}$/
        //-   ,'密码必须6到12位，且不能出现空格'
        //- ],
        token: function(value, item){
          var show = item.parentNode.parentNode.parentNode.classList.contains('layui-show')
          if(show && !/\S/.test(value)){
            return '请输入token';
          }
        }
      });
      //监听提交
      form.on('submit(submit_form)', function(data){
        var params = {}
        if (currentTab == 0) {
          params = {
            name: data.field.name,
            password: data.field.password
          }
        } else if (currentTab == 1) {
          params = {
            accesstoken: data.field.token
          }
        }
        axios.post('/accesstoken', params).then(function (res) {
           axios.get('/getUserInfo', {params: {loginname: res.data.loginname}}).then(function (info) {
             window.location.href = '/'
           })
        }).catch(function(res) {
          // 客户端为catch封装
          layer.alert(res.response.data.message, {
            title: '提示'
          })
        })
        return false
      });
    })
    layui.use('element', function(){
      var element = layui.element;
      //监听Tab切换，以改变地址hash值
      element.on('tab(tab)', function(e){
        currentTab = e.index
      });
    });