footer#footer
 .max_width.footer_body
    .links
        a(href="#") RSS
        span.split |
        a(href="#") 源码地址
    p CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。
<div id="scrollToTop" style="display:none">回到顶部</div>
